<div class="ui segment">

  <div class="ui stackable grid">
    <div class="three wide column">
      <div class="ui header">
        Search
      </div>
      <div class="ui form">
        <div class="field">
          <div class="ui icon fluid input">
            <input type="text"
                   placeholder="Search..."
                   ng-model="filter.text"
                   ng-init="filter.text=''">
              <i class="search icon"></i>
          </div>
        </div>
         <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.verified">
            <label> Verified </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.submitted">
            <label> Submitted </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.softAdmitted">
            <label> Soft Admitted </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.admitted">
            <label> Admitted </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.confirmed">
            <label> Confirmed </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.needsVisa">
            <label> Need Visa </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.needsReimbursement">
            <label> Need travel reimbursements </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.rejected">
            <label> Rejected </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-model="filter.notRated">
            <label> Not Rated </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-model="filter.rated">
            <label> Rated </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-model="filter.rated5">
            <label> Rated 5 Stars </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-model="filter.rated4">
            <label> Rated 4 Stars </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox"  ng-model="filter.rated3">
            <label> Rated 3 Stars </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.teams">
            <label> Teams </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.individuals">
            <label> Individuals </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.terminal">
            <label> Terminal Interest </label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" ng-model="filter.acceptedToTerminal">
            <label> Accepted Terminal </label>
          </div>
          <div class="ui select">
            <label>Requested TG Class</label>
            <select ng-model="filter.requestedTG">
            <option value="">Select a TG Class</option>
            <option value="Finland">Finland</option>
            <option value="Baltics">Baltics</option>
            <option value="Nordics">Nordics</option>
            <option value="Europe">Europe</option>
            <option value="Rest of the World">Rest of the World</option>
            </select>
          </div>
          <div class="ui select">
              <label>Accepted TG Class</label>
              <select ng-model="filter.acceptedTG">
              <option value="">Select a TG Class</option>
              <option value="Finland">Finland</option>
              <option value="Baltics">Baltics</option>
              <option value="Nordics">Nordics</option>
              <option value="Europe">Europe</option>
              <option value="Rest of the World">Rest of the World</option>
              <option value="Golden Ticket">Golden Ticket</option>
              </select>
          </div>
      </div>
      <br>
      <button
        class="ui positive button centered"
        ng-click="filterUsers()">
          FILTER
      </button>

      <div class="ui divider"></div>

      <button
        ng-repeat="page in pages"
        ng-class="page == currentPage ? 'active pink' : ''"
        ng-click="goToPage(page)"
        class="ui icon basic page button">
        {{page}}
      </button>

    </div>
    <div id="table-container" class="thirteen wide column">
      <div class="ui header">
        Users
        <a class="btn" ng-click="exportCSV()">Export to CSV</a>
        <a class="btn" ng-click="exportTRCSV()">Export TR CSV</a>
        <button
          ng-click="sendAcceptanceEmails()"
          class="ui negative basic button"
          style="margin-left: 10px">
          Send Acceptance Emails
        </button>
      </div>
      <p ng-if="lookingAtATeam">Team Average rating: {{teamAverage}}</p>
      <div class="ui long user modal">
        <i class="close icon"></i>
        <div class="header">
          {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
          <span
            ng-show="selectedUser.admin">
            (Admin)
          </span>
        </div>
        <div class="content">

          <div>
            <div class="ui header">
              Status:
              <div
                class="ui label">
                {{getStatusName(selectedUser).toUpperCase()}}
              </div>
            </div>
            <p>
              <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
            </p>
          </div>

          <div ng-repeat="section in selectedUser.sections">
            <div class="ui divider"></div>

            <h3> {{section.name}} </h3>

            <p ng-repeat="field in section.fields">
              <strong> {{field.name}}: </strong>

              <span ng-show="field.type === 'boolean'">
                <i class="red circle remove icon" ng-show="!field.value"></i>
                <i class="green circle check icon" ng-show="field.value"></i>
              </span>

              <a ng-href="{{field.value}}" target="_blank" ng-show="field.type === 'link'">
                {{field.value}}
              </a>

              <span ng-if="field.type == null">
                {{field.value}}
              </span>
            </p>

          </div>

        </div>
        <div class="actions">
          <button
            class="ui negative button"
            ng-click="resetTeam($event, selectedUser, $index)">
            Reset Team
          </button>
          <button
            class="ui negative button"
            ng-click="toggleReject($event, selectedUser, $index)">
            <i ng-if="!selectedUser.status.rejected">Reject
            </i>
            <i ng-if="selectedUser.status.rejected">Unreject
            </i>
          </button>
          <button
            class="ui positive button"
            ng-click="softAcceptUser($event, selectedUser, $index)">
            Accept participant {{selectedUser.profile.name}} (Email isn't sent yet)
          </button>
          <div class="ui negative right labeled icon button">
          Close
          <i class="checkmark icon"></i>
          </div>
        </div>
      </div>

      <div class="mini ui modal">
          <div class="header">Rate {{selectedUser.email}}</div>
          <div class="content">
              <div class="ui massive rating"></div>
          </div>
      </div>

      <div class="travel ui modal">
        <div class="header">Accept Travel Grant class for {{selectedUser.email}}</div>
        <div class="content">
            <div class="field">
              <label>
                Choose reimbursement class for the participant. Participant requested class:
                <strong>{{selectedUser.profile.AppliedreimbursementClass || "None"}}</strong>
              <select
                class="ui fluid dropdown"
                id="class"
                name="class"
                ng-model="selectedUser.Class">
                <option value="">Choose a class</option>
                <option value="Finland">Finland</option>
                <option value="Baltics">Baltics</option>
                <option value="Nordics">Nordics</option>
                <option value="Europe">Europe</option>
                <option value="Rest of the World">Rest of the World</option>
                <option value="Golden Ticket">Golden Ticket</option>
              </select>
            </div>
            <div class="actions" style="margin-top: 20px;">
              <button
                class="ui positive button"
                ng-click="acceptTravelGrantClass($event, selectedUser, $index)">
                  Accept Travel Grant
              </button>
              <button
                class="ui negative button">
                Cancel
              </button>
            </div>
        </div>
      </div>

      <table
        class="ui celled selectable compact users table">
        <thead>
          <tr>
            <th class="sortable" ng-click="sortByRating()">Rating <i ng-class="{angle: true, icon: true, down: sortRating, up: !sortRating}"></i></th>
            <th>ID</th>
            <th>Name</th>
            <th>Secret</th>
            <th>Application Type</th>
            <th class="sortable" ng-click='sortByTeam()'>Team <i ng-class="{angle: true, icon: true, down: sortTeam, up: !sortTeam}"></i></th>
            <th>Team Locked</th>
            <th class="sortable" ng-click='sortByDate()'>Application date <i ng-class="{angle: true, icon: true, down: sortDate, up: !sortDate}"></i></th>
            <th>V/S/A1/A2/C</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Check Out/In</th>
            <th>Terminal</th>
            <th></th>
            <th>Country</th>
            <th>Travel</th>
            <th>Acc.</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-click="selectUser(user)"
            ng-repeat="user in users"
            ng-class="rowClass(user)">
            <td class="rating" ng-click="rateUser($event, user, $index)">
              <span ng-if="user.status.rating === 0">Not rated</span>
              <i ng-if="user.status.rating > 0" class="star icon"></i>
              <i ng-if="user.status.rating > 1" class="star icon"></i>
              <i ng-if="user.status.rating > 2" class="star icon"></i>
              <i ng-if="user.status.rating > 3" class="star icon"></i>
              <i ng-if="user.status.rating > 4" class="star icon"></i>
            </td>
            <td>
              <strong>
              {{user.id}}
              &nbsp;
            </strong>
            <td>
                {{user.profile.name}}
            </td>
            <td>{{user.profile.secret}}</td>
            <td>
              <div class="adminTeamSelection">
                <i class="user icon" ng-if="user.profile.teamSelection === 'alone' || user.profile.teamSelection === 'teamOrAlone'"></i>
                <i class="users icon" ng-if="user.profile.teamSelection === 'onlyTeam' || user.profile.teamSelection === 'teamOrAlone'"></i>
              </div>
            </td>
            <td ng-click="getTeam($event, user)">{{user.team}}</td>
            <td class="collapsing">
              <!-- Verified -->
              <i
                ng-if="user.teamLocked"
                class="green check circle icon centered">
              </i>
              <i
                ng-if="!user.teamLocked && user.team"
                class="red remove circle icon centered">
              </i>
            </td>
            <td>{{user.timestamp | date: 'mediumDate'}}</td>
            <td
              class="collapsing">

              <!-- Verified -->
              <i
                ng-if="user.verified"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.verified"
                class="red remove circle icon">
              </i>

              <!-- Submitted -->
              <i
                ng-if="user.status.completedProfile"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.completedProfile"
                class="red remove circle icon">
              </i>

              <!-- Soft Admitted -->

              <i
              ng-if="user.status.softAdmitted"
              class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.rejected && !user.status.softAdmitted"
                class="thin circle icon">
              </i>
              <i
                ng-if="user.status.rejected"
                class="red remove circle icon">
              </i>

              <!-- Admitted -->
              <i
                ng-if="user.status.admitted"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.status.rejected && !user.status.admitted"
                class="thin circle icon">
              </i>
              <i
                ng-if="user.status.rejected"
                class="red remove circle icon">
              </i>
              <!-- Confirmed -->
              <i
                ng-if="!user.status.admitted"
                class="circle thin icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.confirmed"
                class="green check circle icon">
              </i>
              <i
                ng-if="user.status.admitted && !user.status.confirmed && !user.status.declined"
                class="thin circle icon">
              </i>
              <i
                ng-if="user.status.admitted && user.status.declined"
                class="red remove circle icon">
              </i>
            </td>
            <td
              class="collapsing">
              <button
                ng-click="softAcceptUser($event, user, $index)"
                class="ui circular mini basic icon button">
                <i class="thumbs up outline icon"></i>
              </button>
            </td>
            <td
              class="collapsing">
              <button
                ng-click="openTravelModal($event, user)"
                class="ui circular mini basic icon button">
                <i class="plane icon"></i>
              </button>
            </td>
            <td
              class="collapsing">
              <button
                ng-click="acceptUserAndSendMail($event, user)"
                class="ui circular mini basic icon button">
                <i class="envelope outline icon"></i>
              </button>
            </td>

            <!--
            <td
              class="collapsing">
              <button
                ng-click="goUser($event, user)"
                class="ui circular mini basic icon button">
                <i class="linkify icon"></i>
              </button>
            </td>
            -->
            <td
              class="right aligned collapsing">

                <button
                ng-click="toggleReject($event, user, $index)"
                class="ui circular mini basic red icon button">
                <i
                  ng-if="!user.status.rejected"
                  class="flag outline icon"></i>
                <i
                  ng-if="user.status.rejected"
                  class="red flag icon"></i>
              </button>

              <button
                ng-click="toggleCheckIn($event, user, $index)"
                class="ui circular mini basic green icon button">

                <i
                  ng-if="!user.status.checkedIn"
                  class="flag outline icon"></i>

                <i
                  ng-if="user.status.checkedIn"
                  class="green flag icon"></i>

              </button>

            </td>
            <td>
              <i
                ng-if="user.status.terminalAccepted"
                class="green check circle icon centered">
              </i>
              <i
                ng-if="!user.status.terminalAccepted"
                class="red remove circle icon centered">
              </i>
            </td>
            <td
              class="collapsing">
              <button
                ng-click="acceptTerminal($event, user)"
                class="ui circular mini basic icon button">
                <i class="sign in icon"></i>
              </button>
            </td>
            <td>{{user.profile.travelFromCountry}}</td>
            <td
              class="collapsing">

              <!-- Required travel reimportsement -->
              <i
                ng-if="user.profile.needsReimbursement"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.profile.needsReimbursement"
                class="red remove circle icon">
              </i>
            </td>

            <td
              class="collapsing">

              <!-- Applies for accomodation -->
              <i
                ng-if="user.profile.applyAccommodation"
                class="green check circle icon">
              </i>
              <i
                ng-if="!user.profile.applyAccommodation"
                class="red remove circle icon">
              </i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
