<div class="page">
  <div class="divided title">
    Travel Grants
    <i class="help circle icon link head" data-content="Fill all the necessary information to receive travel grant after the hackathon." data-variation="inverted" data-position="right center"></i>
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <h1 ng-hide="!pastTRDeadline">Travel grant application is closed</h1>

      <div ng-show="user.status.reimbursementApplied" style="text-align:center; margin-bottom:40px;">
        <h3><i class="checkmark box icon"></i>Your Travel Grant submission has been received</h1>        
      </div>
    </div>
  </div>


  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
           ng-class="{'loading': loading}">

        <div class="divided title">Required Information</div>

        <fieldset ng-disabled="pastTRDeadline">
        <p>This year we're using <b>PayPal</b> to give out the travel grants. To receive the travel grants, you'll have to register to PayPal, you can do it <a href="https://www.paypal.com/fi/webapps/mpp/account-selection">here</a>.</p>
        <p>All we need is your Merchant ID. You can find your Merchant ID by going to:</p>
        <p><b>Settings (cog icon next to Log Out) -> Account options</b></p>
        
        <div class="field">
          <label> Merchant ID * </label>
          <input type="text"
                 name="paypal"
                 ng-model="user.reimbursement.merchantID">
        </div>
        <div class="divided title receipt" style="margin-top:20px;">
          RECEIPTS
        </div>

        <div class="field">
            <label>
              Choose <b>ONE</b> PDF-file of your travels to upload (Max. 2MB)
            </label>
            <ol>
              <li>
                The pdf-file should contain your <b>TRAVEL RECEIPTS</b> that must contain:<br>
                <ul> 
                    <li><b>YOUR NAME</b></li>
                    <li><b>TOTAL SUM OF THE PAID AMOUNT</b></li>
                </ul>
              </li>
              <li>
              <p>You can use a <a href="http://combinepdf.com/" target="_blank"><b>pdf-combiner</b></a> to combine many pdf-files to one single file.</p> 
              </li>
              <li>
              <p>You can also include bank information in the same pdf-file if you want to.</p>         
              </li>
              <li>
              <p>Press the <b>Upload-button</b> to send us the file.</p>
              </li>
              <li>
                <p>If you've uploaded already a file, uploading a new file will <b>REPLACE AND DELETE</b> the previous one.</p>   
              </li>
            </ol>
            <input
               type="file"
               name="fileUpload"
               file-input="files"
               accept="application/pdf"
               id="fileName"
               ng-disabled="disableUpload"
               onchange="angular.element(this).scope().updateFileName()"/>
            <p ng-show="user.reimbursement.fileName">You've successfully uploaded us this file: <b>{{user.reimbursement.fileName}}</b></p>             
            <button class="ui button sea-serpent" ng-click="upload()" style="margin-top:10px;">Upload</button>
            <div class="ui inline loader"></div>   
        </div>

        <div class="field">
          <label>Additional information</label>
          <textarea ng-model="user.reimbursement.additional"/>
        </div>

        <div class="field">
          <label>Check that your information is correct!</label>
          <div class="ui checkbox">
            <input type="checkbox"
                   name="correctInfo"
                   class="correctInfo">
            <label for="correctInfo">I've double checked and I'm sure that my information is correct</label>
          </div>
        </div>

        <br>
        <br>
        <div class="ui small negative message"
            ng-show='error'>
          {{error}} <br>
          <ul>
            <div data-ng-repeat="i in fieldErrors">
              <li>{{ i }}</li>
            </div>
          </ul>
        </div>


        <div class="field">
          <button type="submit"
                  class="fluid ui sea-serpent button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
