<div id="team" class="page">
  <div class="divided title">
    Team
    <i class="help circle icon link head" data-content="Having a team is not compulsory but hackathons can be a fun experience together with a team! Here you can join/create a team and see your team's status! You can also enter Team Matchmaking from here!" data-variation="inverted" data-position="right center"></i>
  </div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div
        class="ui error message"
        ng-show="error">
        {{error}}
      </div>
      
      <div class="ui segment">
        <div
          class="ui form"
          ng-show="!user.team && regIsOpen">

          <div class="title">
            Join or create a Team
          </div>

          <br>

          <div class="field">
            <input
              class="ui input"
              type="text"
              placeholder="Choose your team name..."
              ng-model="code">
          </div>

          <div class="field">
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-click="joinTeam()">
              <i class="sign in icon"></i>
              Join Team
            </button>
          </div>
          <div class="ui divider"></div>
        </div>
        <div
          class="ui form"
          ng-show="!user.team && regIsOpen">
          <div class="field">
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-click="createTeam()">
              <i class="edit icon"></i>
              Create a new Team
            </button>
          </div>
        </div>
        <div ng-show="user.team">
          <div class="form">
            <div class="subheader">With the Team Code below people can join your team!</div>
            <div class="title">
              Your Team Code:
            </div>
          </div>
          <br>
          <div class="subheader">
            {{user.team}}
          </div>

          <br />

          <div class="ui divider"></div>

          <div class="form">
            <div class="title">
              Team Members:
            </div>
          </div>
          <p
            ng-repeat="u in teammates"
            class="item"
          >
            <i ng-if="teamLeader === user.id && u.id !== teamLeader" ng-click="kickFromTeam(u)" class="user times icon"></i>
            <i ng-if="teamLeader === u.id" class="eye icon"></i>
            {{u.profile.name || 'Somebody (has not filled out their profile!)'}}
          </p>

          <div
            ng-show="regIsOpen">
            <div class="ui divider"></div>
            <p>You will lock in your teams for the application period when you'll be reviewed as a team.</p>
            <p><i class="exclamation circle icon"></i> <b>Note</b></p>
            <p>After you lock in your team, you <b>can't open</b> it anymore - lock your team only after all your team members have joined!</p>
            <p>After the application period team matchmaking will open and you can search for more team members if you still need more people in your team!</p>
            <div class="title small">
              Status: <span ng-if="teamLocked">Locked</span><span ng-if="!teamLocked">Open</span>
            </div>
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-disabled="teamLocked || (teamLeader !== user.id)"
              ng-click="lockTeam()">
              <i class="lock icon"></i>
              Lock Team
            </button>
          </div>

          <div
            ng-show="regIsOpen">
            <div class="ui divider"></div>
            <button
              class="ui labeled icon fluid vermilion button"
              ng-click="leaveTeam()">
              <i class="sign out icon"></i>
              Leave Team
            </button>
          </div>

        </div>

        <!--<a ui-sref="app.matchmaking" class="matchmaking">
            <button
            ui-sref="app.matchmaking"
            class="ui labeled icon fluid sea-serpent button">
              <i class="users icon"></i>
              Search for teammates
            </button>
          </a>-->

      </div>

      
        <!--<a ng-show="user.teamCode" ui-sref="app.matchmaking" class="matchmaking"><button class="ui fluid sea-serpent button">Search for more team members!</button></a>
        -->

    </div>
  </div>

</div>
