<div id="team" class="page">
  <div class="divided title">
    Team
    <i class="help circle icon link head" data-content="Having a team is not compulsory but hackathons can be a fun experience together with a team! Here you can join/create a team!" data-variation="inverted" data-position="right center"></i>
  </div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div
        class="ui error message"
        ng-show="error">
        {{error}}
      </div>
      
      <div class="ui segment">
        <div
          class="ui form"
          ng-show="!user.team && regIsOpen">

          <div class="title">
            Join or create a Team
          </div>
          <p>Here you can join your team or create a new one. To join a team you need your team code, that the person who created the team can see from their team tab!</p>

          <br>

          <div class="field">
            <input
              class="ui input"
              type="text"
              placeholder="Put in your team's code here"
              ng-model="code">
          </div>

          <div class="field">
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-click="joinTeam()">
              <i class="sign in icon"></i>
              Join Team
            </button>
          </div>
          <div class="ui divider"></div>
        </div>
        <div
          class="ui form"
          ng-show="!user.team && regIsOpen">
          <div class="field">
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-click="createTeam()">
              <i class="edit icon"></i>
              Create a new Team
            </button>
          </div>
        </div>
        <div ng-show="user.team">
          <div class="form">
            <div class="subheader">With the Team Code below people can join your team!</div>
            <div class="title">
              Your Team Code:
            </div>
          </div>
          <br>
          <div class="subheader">
            {{user.team}}
          </div>

          <br />

          <div class="ui divider"></div>

          <div class="form">
            <div class="title">
              Team Members:
            </div>
          </div>
          <p
            ng-repeat="u in teammates"
            class="item"
          >
            <i ng-if="teamLeader === user.id && u.id !== teamLeader" ng-click="kickFromTeam(u)" class="user times icon"></i>
            <i ng-if="teamLeader === u.id" class="eye icon"></i>
            {{u.profile.name || 'Somebody (has not filled out their profile!)'}}
          </p>

          <div ng-show="regIsOpen">
            <div class="ui divider"></div>
              <div class="ui form" id="lockingForm">
                <div class="title">Locking in your team</div>
                <p>
                  You will lock in your teams for the application period when you'll be reviewed as a team.
                </p>
                <p>
                  <b>Only your team leader</b> (marked with <i class="eye icon"></i>) can lock in the team.
                </p>
                <p><i class="exclamation circle icon"></i> <b>Note</b></p>
                <p><b>If you don't lock</b> in your team before the application deadline, your team won't be reviewed!</p>
                <p>After you lock in your team, you <b>can't open</b> it anymore - lock your team only after all your team members have joined!</p>
                <p>After the application period team matchmaking will open and you can search for more team members if you still need more people in your team!</p>
                <div class="title small">
                  Status: <span ng-if="teamLocked">Locked</span><span ng-if="!teamLocked">Open</span>
                </div>
                <br/>
                <div class="required field" ng-class="{'disabled': teamLocked}" ng-show="!teamLocked">
                  <label>Which tracks are you most interested in as a team? Max 3 options.</label>
                  <select multiple="multiple"
                    class="ui multiple normal selection dropdown"
                    name="teamInterests"
                    id="teamInterests"
                    ng-model="teamInterests"
                  >
                    <option value="">Choose up to 3</option>
                    <option value="Healthtech">Healthtech</option>
                    <option value="Internet of Things">Internet of Things</option>
                    <option value="Artificial Intelligence">Artificial Intelligence</option>
                    <option value="Networks">Networks</option>
                    <option value="Games">Games</option>
                    <option value="Virtual/Augmented Reality">Virtual and Augmented Reality</option>
                    <option value="Big Data">Big Data</option>
                    <option value="Fintech">Fintech</option>
                    <option value="Mobility">Mobility</option>
                    <option value="Smart Cities">Smart Cities</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Electrical Vehicles">Electrical Vehicles</option>
                    <option value="Blockchain">Blockchain</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Sustainability">Sustainability</option>
                    <option value="Privacy">Privacy</option>
                  </select>
                </div>
                <div class="ui small negative message" ng-show='error'>
                  {{error}} <br>
                  <ul>
                    <div data-ng-repeat="i in fieldErrors">
                      <li>{{ i }}</li>
                    </div>
                  </ul>
                </div>
                <button
                  class="ui labeled icon fluid sea-serpent button"
                  ng-disabled="teamLocked || (teamLeader !== user.id)"
                  ng-show="!teamLocked"
                  ng-click="lockTeam()">
                  <i class="lock icon"></i>
                  Lock Team
                </button>
                <div class="ui field" ng-show="teamLocked">
                  <p>You've selected these tracks:</p>
                  <p ng-repeat="i in teamInterests"><b>{{i}}</b></p>
                </div>
            </div>
          </div>

          <div
            ng-show="regIsOpen">
            <div class="ui divider"></div>
            <button
              class="ui labeled icon fluid vermilion button"
              ng-click="leaveTeam()">
              <i class="sign out icon"></i>
              Leave Team
            </button>
          </div>

        </div>

        <!--<a ui-sref="app.matchmaking" class="matchmaking">
            <button
            ui-sref="app.matchmaking"
            class="ui labeled icon fluid sea-serpent button">
              <i class="users icon"></i>
              Search for teammates
            </button>
          </a>-->

      </div>

      
        <!--<a ng-show="user.teamCode" ui-sref="app.matchmaking" class="matchmaking"><button class="ui fluid sea-serpent button">Search for more team members!</button></a>
        -->

    </div>
  </div>

</div>
