<div id="team" class="page">
  <div class="divided title">
    Team
    <i class="help circle icon link head" data-content="Having a team is not compulsory but hackathons can be a fun experience together with a team! Here you can join/create a team!" data-variation="inverted" data-position="right center"></i>
  </div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div
        class="ui error message"
        ng-show="error">
        {{error}}
      </div>
      
      <div class="ui segment">
        <div
          class="ui form"
          ng-show="!user.team && regIsOpen">

          <div class="title">
            Join or create a Team
          </div>
          <p>Here you can join your team or create a new one. To join a team you need your team code, that the person who created the team can see from their team tab!</p>

          <br>

          <div class="field">
            <input
              class="ui input"
              type="text"
              placeholder="Put in your team's code here"
              ng-model="code">
          </div>

          <div class="field">
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-click="joinTeam()">
              <i class="sign in icon"></i>
              Join Team
            </button>
          </div>
          <div class="ui divider"></div>
        </div>
        <div
          class="ui form"
          ng-show="!user.team && regIsOpen">
          <div class="field">
            <button
              class="ui labeled icon fluid sea-serpent button"
              ng-click="createTeam()">
              <i class="edit icon"></i>
              Create a new Team
            </button>
          </div>
        </div>
        <div ng-show="user.team">
          <div class="form">
            <div class="subheader">With the Team Code below people can join your team!</div>
            <div class="title">
              Your Team Code:
            </div>
          </div>
          <br>
          <div class="subheader">
            {{user.team}}
          </div>

          <br />

          <div class="ui divider"></div>

          <div class="form">
            <div class="title">
              Team Members:
            </div>
            <p>Note that your team size can be 5 at maximum to compete for the prices!</p>
          </div>
          <p
            ng-repeat="u in teammates"
            class="item"
          >
            <i ng-if="teamLeader === user.id && u.id !== teamLeader" ng-click="kickFromTeam(u)" class="user times icon"></i>
            <i ng-if="teamLeader === u.id" class="eye icon"></i>
            {{u.profile.name || 'Somebody (has not filled out their profile!)'}}
          </p>
          <br/>
          <a ng-show="user.team" ui-sref="app.matchmaking" class="matchmaking"><button class="ui fluid sea-serpent button">Search for more team members!</button></a>

          <div ng-show="!pastReg">
            <div class="ui divider"></div>
              <div class="ui form" id="lockingForm">
                <div class="title">Locking in your team</div>
                <p>
                  You will lock in your teams for the application period when you'll be reviewed as a team.
                  If you have more than 5 team members, consider splitting into two teams so you can compete for the awesome prices!
                </p>
                <p>
                  <b>Only your team leader</b> (marked with <i class="eye icon"></i>) can lock in the team.
                </p>
                <p><i class="exclamation circle icon"></i> <b>Note</b></p>
                <p><b>If you don't lock</b> in your team before the application deadline, your team won't be reviewed!</p>
                <p>After you lock in your team, you <b>can't open</b> it anymore - lock your team only after all your team members have joined!</p>
                <p>After the application period team matchmaking will open and you can search for more team members if you still need more people in your team!</p>
                <div class="title small">
                  Status: <span ng-if="teamLocked">Locked</span><span ng-if="!teamLocked">Open</span>
                </div>
                <br/>
                <div class="required field" ng-class="{'disabled': teamLocked}" ng-show="!teamLocked">
                  <label>Which themes are you most interested in as a team? Max 3 options.</label>
                  <select multiple="multiple"
                    class="ui multiple normal selection dropdown"
                    name="teamInterests"
                    id="teamInterests"
                    ng-model="teamInterests"
                  >
                    <option value="">Choose up to 3</option>
                    <option value="Healthtech">Healthtech</option>
                    <option value="Internet of Things">Internet of Things</option>
                    <option value="Artificial Intelligence">Artificial Intelligence</option>
                    <option value="Networks">Networks</option>
                    <option value="Games">Games</option>
                    <option value="Virtual/Augmented Reality">Virtual and Augmented Reality</option>
                    <option value="Big Data">Big Data</option>
                    <option value="Fintech">Fintech</option>
                    <option value="Mobility">Mobility</option>
                    <option value="Smart Cities">Smart Cities</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Electrical Vehicles">Electrical Vehicles</option>
                    <option value="Blockchain">Blockchain</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Sustainability">Sustainability</option>
                    <option value="Privacy">Privacy</option>
                  </select>
                </div>
                <div class="ui small negative message" ng-show='error'>
                  {{error}} <br>
                  <ul>
                    <div data-ng-repeat="i in fieldErrors">
                      <li>{{ i }}</li>
                    </div>
                  </ul>
                </div>
                <button
                  class="ui labeled icon fluid sea-serpent button"
                  ng-disabled="teamLocked || (teamLeader !== user.id)"
                  ng-show="!teamLocked"
                  ng-click="lockTeam()">
                  <i class="lock icon"></i>
                  Lock Team
                </button>
                <div class="ui field" ng-show="teamLocked">
                  <p>You've selected these themes:</p>
                  <p ng-repeat="i in teamInterests"><b>{{i}}</b></p>
                </div>
            </div>
          </div>

          <div ng-show="pastReg" id="priorityForm" class="ui form priorities">
            <div class="ui divider"></div>
            <div class="title">Team Interests</div>
            <br/>
            <div class="field" ng-if="user.team">
                <label style="text-align:center;"> What are the three tracks you are most interested in?</label>
                <p style="margin-bottom: 10px;text-align:left;">
                Your <b>team leader</b> must fill in your top three tracks. You will be assigned to a track already before the event. We are trying our best to get you to your first option.
                </p>
            </div>
            <div class="fields">
              <div class="ten wide field">
                <select
                  class="ui fluid dropdown"
                  name="firstPrioTrack"
                  id="firstPrioTrack"
                  ng-disabled="teamLeader != user.id"
                  ng-model="firstPriorityTrack"
                >
                  <option value="">Select a track</option>
                  <option
                    ng-show="secondPriorityTrack != 'Blockchain' && thirdPriorityTrack != 'Blockchain'"
                    value="Blockchain"
                  >
                    Blockchain
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Intelligent Infrastructure' && thirdPriorityTrack != 'Intelligent Infrastructure'"
                    value="Intelligent Infrastructure"
                  >
                    Intelligent Infrastructure
                  </option>
                  <option 
                    ng-show="secondPriorityTrack != 'Future Cities' && thirdPriorityTrack != 'Future Cities'"
                    value="Future Cities"
                  >
                    Future Cities
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Digital Retail' && thirdPriorityTrack != 'Digital Retail'"
                    value="Digital Retail"
                  >
                    Digital Retail
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Smart Cloud' && thirdPriorityTrack != 'Smart Cloud'"
                    value="Smart Cloud"
                  >
                    Smart Cloud
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Mobility' && thirdPriorityTrack != 'Mobility'"
                    value="Mobility"
                  >
                    Mobility
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Data Economics' && thirdPriorityTrack != 'Data Economics'"
                    value="Data Economics"
                  >
                    Data Economics
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Game Jam' && thirdPriorityTrack != 'Game Jam'"
                    value="Game Jam"
                  >
                    Game Jam
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Internet of Things' && thirdPriorityTrack != 'Internet of Things'"
                    value="Internet of Things"
                  >
                    Internet of Things
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'HealthTech' && thirdPriorityTrack != 'HealthTech'"
                    value="HealthTech"
                  >
                    HealthTech
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'AI and Big Data' && thirdPriorityTrack != 'AI and Big Data'"
                    value="AI and Big Data"
                  >
                    AI and Big Data
                  </option>
                </select>
              </div>
              <div class="six wide field">
                <h5 class="ui block teal header">
                  First Priority
                </h5>
              </div>
            </div>
            
            <div class="fields">
              <div class="ten wide field">
                  <select
                    class="ui fluid dropdown"
                    name="secondPrioTrack"
                    id="secondPrioTrack"
                    ng-disabled="teamLeader != user.id"
                    ng-model="secondPriorityTrack"
                  >
                  <option value="">Select a track</option>
                  <option
                    ng-show="firstPriorityTrack != 'Blockchain' && thirdPriorityTrack != 'Blockchain'"
                    value="Blockchain"
                  >
                    Blockchain
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'Intelligent Infrastructure' && thirdPriorityTrack != 'Intelligent Infrastructure'"
                    value="Intelligent Infrastructure"
                  >
                    Intelligent Infrastructure
                  </option>
                  <option 
                    ng-show="firstPriorityTrack != 'Future Cities' && thirdPriorityTrack != 'Future Cities'"
                    value="Future Cities"
                  >
                    Future Cities
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'Digital Retail' && thirdPriorityTrack != 'Digital Retail'"
                    value="Digital Retail"
                  >
                    Digital Retail
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'Smart Cloud' && thirdPriorityTrack != 'Smart Cloud'"
                    value="Smart Cloud"
                  >
                    Smart Cloud
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'Mobility' && thirdPriorityTrack != 'Mobility'"
                    value="Mobility"
                  >
                    Mobility
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'Data Economics' && thirdPriorityTrack != 'Data Economics'"
                    value="Data Economics"
                  >
                    Data Economics
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'Game Jam' && thirdPriorityTrack != 'Game Jam'"
                    value="Game Jam"
                  >
                    Game Jam
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'Internet of Things' && thirdPriorityTrack != 'Internet of Things'"
                    value="Internet of Things"
                  >
                    Internet of Things
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'HealthTech' && thirdPriorityTrack != 'HealthTech'"
                    value="HealthTech"
                  >
                    HealthTech
                  </option>
                  <option
                    ng-show="firstPriorityTrack != 'AI and Big Data' && thirdPriorityTrack != 'AI and Big Data'"
                    value="AI and Big Data"
                  >
                    AI and Big Data
                  </option>
                </select>
              </div>
              <div class="six wide field">
                <h5 class="ui block teal header">
                  Second Priority
                </h5>
              </div>

              <br>
              <br>
            </div>

            <div class="fields">
              <div class="ten wide field">
                  <select
                    class="ui fluid dropdown"
                    name="thirdPrioTrack"
                    id="thirdPrioTrack"
                    ng-disabled="teamLeader != user.id"
                    ng-model="thirdPriorityTrack"
                  >
                  <option value="">Select a track</option>
                  <option
                    ng-show="secondPriorityTrack != 'Blockchain' && firstPriorityTrack != 'Blockchain'"
                    value="Blockchain"
                  >
                    Blockchain
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Intelligent Infrastructure' && firstPriorityTrack != 'Intelligent Infrastructure'"
                    value="Intelligent Infrastructure"
                  >
                    Intelligent Infrastructure
                  </option>
                  <option 
                    ng-show="secondPriorityTrack != 'Future Cities' && firstPriorityTrack != 'Future Cities'"
                    value="Future Cities"
                  >
                    Future Cities
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Digital Retail' && firstPriorityTrack != 'Digital Retail'"
                    value="Digital Retail"
                  >
                    Digital Retail
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Smart Cloud' && firstPriorityTrack != 'Smart Cloud'"
                    value="Smart Cloud"
                  >
                    Smart Cloud
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Mobility' && firstPriorityTrack != 'Mobility'"
                    value="Mobility"
                  >
                    Mobility
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Data Economics' && firstPriorityTrack != 'Data Economics'"
                    value="Data Economics"
                  >
                    Data Economics
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Game Jam' && firstPriorityTrack != 'Game Jam'"
                    value="Game Jam"
                  >
                    Game Jam
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'Internet of Things' && firstPriorityTrack != 'Internet of Things'"
                    value="Internet of Things"
                  >
                    Internet of Things
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'HealthTech' && firstPriorityTrack != 'HealthTech'"
                    value="HealthTech"
                  >
                    HealthTech
                  </option>
                  <option
                    ng-show="secondPriorityTrack != 'AI and Big Data' && firstPriorityTrack != 'AI and Big Data'"
                    value="AI and Big Data"
                  >
                    AI and Big Data
                  </option>
                </select>
              </div>
              <div class="six wide field">
                <h5 class="ui block teal header">
                  Third Priority
                </h5>
              </div>

              <br>
              <br>
            </div>

            <p ng-if="!assignedTrack">Your team has not been assigned to a track yet.</p>
            <p ng-if="assignedTrack">Your team have been assigned to track <b>{{assignedTrack}}</b></p>
            
            <button class="ui labeled icon fluid positive button" ng-disabled="assignedTrack || (teamLeader !== user.id)" ng-click="updatePriorities()">
              Update Priorities
            </button>
            
            <div class="ui divider"></div>
          </div>

          <div
            ng-show="regIsOpen">
            <button
              class="ui labeled icon fluid vermilion button"
              ng-click="leaveTeam()">
              <i class="sign out icon"></i>
              Leave Team
            </button>
          </div>

        </div>

        <a ui-sref="app.matchmaking" ng-show="!user.team && user.status.confirmed" class="matchmaking">
          <button
          ui-sref="app.matchmaking"
          class="ui labeled icon fluid sea-serpent button">
            <i class="users icon"></i>
            Search for teammates
          </button>
        </a>

      </div>
    </div>
  </div>

</div>
