<div id="matchmaking" class="page" style="width:100%;">
  <div class="divided title">
    Team Matchmaking
    <i class="help circle icon link head" data-content="Having a team is not compulsory but hackathons can be a fun experience together with a team! Here you can find a team / team members!" data-variation="inverted" data-position="right center"></i>
  </div>
  <script>
    // Initialize fancy UI scripts
  
      $('.ui.dropdown')
        .dropdown();
  </script>  
  <div class="ui stackable centered page grid">
    <div class="column">

      <div ng-show="showForms">
        <!--<div ng-if="!user.team"
             class="title">
          Search for a team
        </div>
        <div ng-if="user.team"
             class="title">
          Search for team members
        </div>-->

        <div ng-show="user.teamMatchmaking.enrolled || teamSearching" class="info" style="width:350px;margin:auto;">
          <h2 style="text-align:center;">Here you can browse:</h2>
          <ul style="margin:auto;">
            <li><b>Teams</b> that are looking for new team members</li>
            <li><b>Individuals</b> that are looking for a team</li>
          </ul><br/>
          <div style="text-align:center">
            <p>Contact the team/individual with their <b>Slack Handle</b> on the Junction 2018 Slack! You can join the workspace <a href="http://slack.hackjunction.com/" target="_blank"><strong>HERE</strong></a></p>
            <p>When you're done with matchmaking, please press the <b>End matchmaking</b>-button below!</p>
          </div>
        </div>

        <!--<div>
          <div class="ui divider"></div>


          button
            class="ui fluid sea-serpent button"
            ng-if="!user.team"
            ng-click="setIndividual()">Searching for team</button>
          <button
            class="ui fluid sea-serpent button"
            ng-if="user.team"
            ng-click="setTeam()">Looking for teammates</button>
        </div>-->
        <br>

        <!-- Individual form -->
        <div ng-show="!user.team  && !user.teamMatchmaking.enrolled">
          <div class="ui stackable page grid">
            <div class="column">
              <div class="ui form individual error"
                    ng-class="{'loading': loading}">

                <div class="divided title">Information about yourself</div>

                <div class="field">
                  <label> Slack handle* </label>
                  <p style="margin-bottom: 10px;">
                    Slack handle is your own display name on the official Junction 2018 workspace at 
                    <a href="https://junction2018attendees.slack.com">junction2018attendees.slack.com</a>.
                    The Slack handle will be used by other participants to contact you.
                    If you haven’t joined the Slack workspace, please do so at 
                    <a href="https://junction-slack-invitation.herokuapp.com" target="_blank">junction-slack-invitation.herokuapp.com</a>. 
                  </p>
                  <div class="ui left icon input">
                    <input 
                    type="text"
                    id="individual_slackHandle"
                    name="individual_slackHandle"
                    ng-model="user.teamMatchmaking.individual.slackHandle">
                    <i class="at icon"></i>
                  </div>
                </div>

                <div class="field">
                  <label> What describes your role in a hackathon team the best?* </label>
                  <select
                    class="ui fluid dropdown"
                    name="individual_role"
                    id="individual_role"
                    ng-model="user.teamMatchmaking.individual.role">
                    <option value="">Role</option>
                    <option value="Frontend Developer">Frontend Developer</option>
                    <option value="Backend Developer">Backend Developer</option>
                    <option value="Full-Stack Developer">Full-Stack Developer</option>
                    <option value="Designer">Designer</option>
                    <option value="Ideation">Ideation</option>
                    <option value="Business Development">Business Development</option>
                    <option value="Product Development">Product Development</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Buzzing around">Buzzing around</option>
                    <option value="Moral support">Moral support</option>
                    <option value="I do everything">I do everything</option>
                    <option value="I work without a team">I work without a team</option>
                    <option value="Something else">Something else</option>          
                  </select>
                </div>
                
                <div class="field">
                  <label> Which track are you most interested in at Junction 2018?* </label>
                  <select
                    class="ui fluid dropdown"
                    name="individual_mostInterestingTrack"
                    id="individual_mostInterestingTrack"
                    ng-model="user.teamMatchmaking.individual.mostInterestingTrack">
                    <option value="">Choose a track</option>
                    <option value="Blockchain">Blockchain</option>
                    <option value="Intelligent Infrastructure">Intelligent Infrastructure</option>
                    <option value="Future Cities">Future Cities</option>
                    <option value="Digital Retail">Digital Retail</option>
                    <option value="Smart Cloud">Smart Cloud</option>
                    <option value="Mobility">Mobility</option>
                    <option value="Data Economics">Data Economics</option>
                    <option value="Game Jam">Game Jam</option>
                    <option value="Internet of Things">Internet of Things</option>
                    <option value="HealthTech">HealthTech</option>
                    <option value="AI and Big Data">AI and Big Data</option>
                  </select>
                </div>

                <div class="field">
                  <label> Top 3 challenges you are most interested in currently* </label>
                  <p style="margin-bottom: 10px;">
                    You can find information about tracks and challenges <a href="https://2018.hackjunction.com" target="_blank">here</a>.
                  </p>
                  <select multiple="multiple"
                    class="ui multiple normal selection dropdown"
                    name="individual_topChallenges"
                    id="individual_topChallenges"
                    ng-model="user.teamMatchmaking.individual.topChallenges">
                    <option value="">Choose a challenge</option>
                    <option value="Dao Voting">Dao Voting</option>
                    <option value="Distributed identity registration system">Distributed identity registration system</option>
                    <option value="Mint a stable coin for a digital nation">Mint a stable coin for a digital nation</option>
                    <option value="Gamification of people flow">Gamification of people flow</option>
                    <option value="In hear voices in my factory">I hear voices in my Factory</option>
                    <option value="Smooth operator">Smooth Operator</option>
                    <option value="The brain of the building">The brain of the building</option>
                    <option value="A never stopping traffic system">A never stopping traffic system</option>
                    <option value="Business at your fingertips">Business at your fingertips</option>
                    <option value="Innovation platform business model">Innovation platform business model</option>
                    <option value="Smart traffic - from predictions to real time">Smart Traffic - from predictions to real time</option>
                    <option value="Towards the new generation of guidance">Towards the new generation of guidance</option>
                    <option value="Campus services under hack">Campus services under hack</option>
                    <option value="Health, sustainability and convenience through data">Health, sustainability and convenience through data</option>
                    <option value="Munchies robot hack">Munchies Robot Hack</option>
                    <option value="The Zero waste shop">The Zero waste shop</option>
                    <option value="Saved by IOT">Saved by IOT</option>
                    <option value="Signaling Heroes">Signaling Heroes</option>
                    <option value="Threat Intelligence FTW">Threat Intelligence FTW</option>
                    <option value="Connected car UX Challenge">Connected car UX Challenge</option>
                    <option value="Digitalize air cargo operations">Digitalize air cargo operations</option>
                    <option value="Fleetboard - Trucks x Code">Fleetboard - Trucks x Code</option>
                    <option value="Teach EV chargers new tricks">Teach EV chargers new tricks</option>
                    <option value="The best electric vehicle charging experience">The best electric vehicle charging experience</option>
                    <option value="Frictionless urban payments">Frictionless urban payments</option>
                    <option value="Innovate beyond MobilePay">Innovate beyond MobilePay</option>
                    <option value="Mastering my data">Mastering my data</option>
                    <option value="Augmented reality challenge">Augmented Reality challenge</option>
                    <option value="Game Coach">Game Coach</option>
                    <option value="Game Jam Main Challenge">Game Jam Main Challenge</option>
                    <option value="Adaptive smart electric heating">Adaptive smart electric heating</option>
                    <option value="Do captains dream of electric ships?">Do captains dream of electric ships?</option>
                    <option value="Innovative applications with Bluetooth Mesh">Innovative applications with Bluetooth Mesh</option>
                    <option value="Living on the Edge">Living on the Edge</option>
                    <option value="Wisdom of Crowds">Wisdom of Crowds</option>
                    <option value="Healthcare beyond physical reality">Healthcare beyond physical reality</option>
                    <option value="Track anything that moves">Track anything that moves</option>
                    <option value="Actually useful weather">Actually useful weather</option>
                    <option value="AI-Driven customer interactions">AI-Driven customer interactions</option>
                    <option value="DNA Center - One app to visualize them all">DNA Center - ONe app to visualize them all</option>
                    <option value="Hack Human interaction">Hack Human interaction</option>
                    <option value="Hack the Sauna">Hack the Sauna</option>
                    <option value="Meraki - Capture the Creature">Meraki - Capture the Creature</option>
                    <option value="Analyzed information at your fingertips">Analyzed information at your fingertips</option>
                    <option value="None">None</option>             
                  </select>
                </div>

                <div class="field">
                  <label> What skills do you have? </label>
                  <textarea ng-model="user.teamMatchmaking.individual.skills"
                    name="individual_freetext"
                    id="individual_freetext">
                </textarea>
                </div>

                <div class="field">
                  <label> Description about yourself </label>
                  <p style="margin-bottom: 10px;">
                    Feel free to tell more about you here.
                  </p>
                  <textarea 
                    ng-model="user.teamMatchmaking.individual.description"
                    name="individual_description"
                    id="individual_description">
                  </textarea>
                </div>

                <div class="field">
                  <label> Text to potential teammates </label>
                  <p style="margin-bottom: 10px;">
                    Freely tell other people looking for teammates what you want do at Junction 2018. 
                    It can be ideas you have, your motivation for joining, 
                    are you here for the fun or for the win? Whatever you want to tell others!
                  </p>
                  <textarea ng-model="user.teamMatchmaking.individual.freeText"
                    name="individual_freetext"
                    id="individual_freetext">
                  </textarea>
                </div>

                <div class="field" style="margin-bottom:5px">
                  <button type="submit"
                          class="fluid ui sea-serpent button"
                          ng-click="submitIndividualForm()">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

              <!-- Team form -->
        <div ng-show="user.team && !user.teamMatchmaking.enrolled && !teamSearching">
          <div class="ui stackable page grid">
            <div class="column">
              <div class="ui form team error"
                    ng-class="{'loading': loading}">

                <div class="divided title">Information about your team</div>
                
                <div class="field">
                  <label>“Captain’s” Slack handle*</label>
                  <p style="margin-bottom: 10px;">
                    Slack handle is your own display name on the official Junction 2018 workspace at 
                    <a href="https://junction2018attendees.slack.com">junction2018attendees.slack.com</a>.
                    The Slack handle will be used by other participants to contact you.
                    If you haven’t joined the Slack workspace, please do so at 
                    <a href="http://slack.hackjunction.com/" target="_blank">http://slack.hackjunction.com/</a>. 
                  </p>
                  <div class="ui left icon input">
                    <input 
                    type="text"
                    id="team_slackHandle"
                    name="team_slackHandle"
                    ng-model="user.teamMatchmaking.team.slackHandle">
                    <i class="at icon"></i>
                  </div>
                </div>

                <div class="field">
                  <label>Which track are you most interested in as a team?*</label>
                  <select
                    class="ui fluid dropdown"
                    name="team_mostInterestingTrack"
                    id="team_mostInterestingTrack"
                    ng-model="user.teamMatchmaking.team.mostInterestingTrack">
                    <option value="">Choose a track</option>
                    <option value="Blockchain">Blockchain</option>
                    <option value="Intelligent Infrastructure">Intelligent Infrastructure</option>
                    <option value="Future Cities">Future Cities</option>
                    <option value="Digital Retail">Digital Retail</option>
                    <option value="Smart Cloud">Smart Cloud</option>
                    <option value="Mobility">Mobility</option>
                    <option value="Data Economics">Data Economics</option>
                    <option value="Game Jam">Game Jam</option>
                    <option value="Internet of Things">Internet of Things</option>
                    <option value="HealthTech">HealthTech</option>
                    <option value="AI and Big Data">AI and Big Data</option>
                  </select>
                </div>

                <div class="field">
                  <label>Top 3 challenges your team is most interested in currently*</label>
                  <p style="margin-bottom: 10px;">
                      You can find information about tracks and challenges <a href="https://2018.hackjunction.com" target="_blank">here</a>.
                  </p>
                  <select multiple="multiple"
                    class="ui multiple normal selection dropdown"
                    name="team_topChallenges"
                    id="team_topChallenges"
                    ng-model="user.teamMatchmaking.team.topChallenges">
                    <option value="">Choose up to 3 challenges</option>
                    <option value="Dao Voting">Dao Voting</option>
                    <option value="Distributed identity registration system">Distributed identity registration system</option>
                    <option value="Mint a stable coin for a digital nation">Mint a stable coin for a digital nation</option>
                    <option value="Gamification of people flow">Gamification of people flow</option>
                    <option value="In hear voices in my factory">I hear voices in my Factory</option>
                    <option value="Smooth operator">Smooth Operator</option>
                    <option value="The brain of the building">The brain of the building</option>
                    <option value="A never stopping traffic system">A never stopping traffic system</option>
                    <option value="Business at your fingertips">Business at your fingertips</option>
                    <option value="Innovation platform business model">Innovation platform business model</option>
                    <option value="Smart traffic - from predictions to real time">Smart Traffic - from predictions to real time</option>
                    <option value="Towards the new generation of guidance">Towards the new generation of guidance</option>
                    <option value="Campus services under hack">Campus services under hack</option>
                    <option value="Health, sustainability and convenience through data">Health, sustainability and convenience through data</option>
                    <option value="Munchies robot hack">Munchies Robot Hack</option>
                    <option value="The Zero waste shop">The Zero waste shop</option>
                    <option value="Saved by IOT">Saved by IOT</option>
                    <option value="Signaling Heroes">Signaling Heroes</option>
                    <option value="Threat Intelligence FTW">Threat Intelligence FTW</option>
                    <option value="Connected car UX Challenge">Connected car UX Challenge</option>
                    <option value="Digitalize air cargo operations">Digitalize air cargo operations</option>
                    <option value="Fleetboard - Trucks x Code">Fleetboard - Trucks x Code</option>
                    <option value="Teach EV chargers new tricks">Teach EV chargers new tricks</option>
                    <option value="The best electric vehicle charging experience">The best electric vehicle charging experience</option>
                    <option value="Frictionless urban payments">Frictionless urban payments</option>
                    <option value="Innovate beyond MobilePay">Innovate beyond MobilePay</option>
                    <option value="Mastering my data">Mastering my data</option>
                    <option value="Augmented reality challenge">Augmented Reality challenge</option>
                    <option value="Game Coach">Game Coach</option>
                    <option value="Game Jam Main Challenge">Game Jam Main Challenge</option>
                    <option value="Adaptive smart electric heating">Adaptive smart electric heating</option>
                    <option value="Do captains dream of electric ships?">Do captains dream of electric ships?</option>
                    <option value="Innovative applications with Bluetooth Mesh">Innovative applications with Bluetooth Mesh</option>
                    <option value="Living on the Edge">Living on the Edge</option>
                    <option value="Wisdom of Crowds">Wisdom of Crowds</option>
                    <option value="Healthcare beyond physical reality">Healthcare beyond physical reality</option>
                    <option value="Track anything that moves">Track anything that moves</option>
                    <option value="Actually useful weather">Actually useful weather</option>
                    <option value="AI-Driven customer interactions">AI-Driven customer interactions</option>
                    <option value="DNA Center - One app to visualize them all">DNA Center - ONe app to visualize them all</option>
                    <option value="Hack Human interaction">Hack Human interaction</option>
                    <option value="Hack the Sauna">Hack the Sauna</option>
                    <option value="Meraki - Capture the Creature">Meraki - Capture the Creature</option>
                    <option value="Analyzed information at your fingertips">Analyzed information at your fingertips</option>
                    <option value="None">None</option>    
                  </select>
                </div>

                <div class="field">
                  <label>What roles are you looking for your team?*</label>
                  <p style="margin-bottom: 10px;">
                    Select all the roles that you think you'll be needing in your team.
                  </p>
                  <select
                    class="ui fluid select multiple dropdown"
                    name="team_roles"
                    id="team_roles"
                    multiple="multiple"
                    ng-model="user.teamMatchmaking.team.roles">
                    <option value="">Role</option>
                    <option value="Frontend Developer">Frontend Developer</option>
                    <option value="Backend Developer">Backend Developer</option>
                    <option value="Full-Stack Developer">Full-Stack Developer</option>
                    <option value="Designer">Designer</option>
                    <option value="Ideation">Ideation</option>
                    <option value="Business Development">Business Development</option>
                    <option value="Product Development">Product Development</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Buzzing around">Buzzing around</option>
                    <option value="Moral support">Moral support</option>
                    <option value="I do everything">I do everything</option>
                    <option value="I work without a team">I work without a team</option>
                    <option value="Something else">Something else</option>          
                  </select>
                </div>

                <div class="field">
                  <label> Free text about your team </label>
                  <textarea ng-model="user.teamMatchmaking.team.freeText">
                  </textarea>
                </div>

                <div class="field" style="margin-bottom:5px">
                  <button type="submit"
                          class="fluid ui sea-serpent button"
                          ng-click="submitTeamForm()">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
      </div>
    </div>
    <div
      class="ui error message"
      ng-show="error">
      {{error}}
    </div>
  </div>

    <!-- selection of the tables -->
    <div class="ui two item menu" ng-show="user.teamMatchmaking.enrolled || teamSearching">
        <a
          class="item"
          ui-sref="app.matchmaking.teams"
          ui-sref-active="active">
          Teams
        </a>
    
        <a
          class="item"
          ui-sref="app.matchmaking.individuals"
          ui-sref-active="active">
          Individuals
        </a>
    </div>
      <!-- View for matchmaking tables -->
    <ui-view ng-show="user.teamMatchmaking.enrolled || teamSearching"></ui-view>
    <button
    ng-show="user.teamMatchmaking.enrolled"
    class="ui labeled icon fluid sea-serpent button"
    style="width:250px;margin:auto;margin-top:30px;"
    ng-click="exitSearch()">
      <i class="sign out icon"></i>
      End matchmaking
    </button>
</div>
