<div class="page">
  <div class="divided title">
      Confirmation
      <i class="help circle icon link head" data-content="Confirm your attendance to Junction 2018 by adding some practical information about you for the actual hackathon!" data-variation="inverted" data-position="right center"></i>
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Additional Information</div>

        <fieldset ng-disabled="pastConfirmation">
          <div class="field">
            <label> Dietary Restrictions </label>

            <p>
              If your restrictions are not included here, please let us know in the additional notes at the bottom.
            </p>
            <p>
              We'll make sure you get fed :)
            </p>

          </div>

          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">

              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>

            </div>
          </div>

          <div class="field">
            <label> T-shirt size </label>
            <p>
              Let's get you some FREE swag ;)
            </p>
            <p>
              Keep in mind that t-shirts are unisex model which means they might be slightly larger than normal!
            </p>
            
            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value="">Shirt Size</option>
              <option value="XS">Unisex X-Small</option>
              <option value="S">Unisex Small</option>
              <option value="M">Unisex Medium</option>
              <option value="L">Unisex Large</option>
              <option value="XL">Unisex X-Large</option>
              <option value="XXL">Unisex XX-Large</option>
            </select>
          </div>

          <div class="field">
            <label>
              Will you be needing hardware?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Yes, I would like to use hardware in my hack. </label>
            </div>
          </div>

          <div class="indent">
            <div
              class="field"
              ng-show="user.confirmation.wantsHardware">
              <label>
                What kind of hardware would be useful for you?
              </label>
              <p>
                We will have a hardware checkout, and we'll try our best to provide things that would be useful to you - however, we can't guarantee everything. We will publish a list of available hardware closer to the day of the event.
              </p>
              <input type="text" ng-model="user.confirmation.hardware">
            </div>
          </div>

          <div class="field">
            <label> Your phone number </label>
            <p>
              In case we need to contact you.
            </p>
            <input type="text"
                   name="phone"
                   ng-model="user.confirmation.phone">
          </div>

          <div class="field">
            <label> Do you have any special needs or disabilities you want us to know about? </label>
            <input type="text"
                   name="specialNeeds"
                   ng-model="user.confirmation.specialNeeds">
          </div>


          <br>
          <br>

          <div ng-show="user.profile.applyAccommodation">
            <div class="divided title">Accommodation</div>

            <p>
              If you are coming from outside Helsinki region we can offer you free accommodation. More information about this will come closer to the event.
            </p>
            <p>
              Accommodation will be in school classrooms and it's recommended to bring your own sleeping bag, mattress and pillow.
            </p>
          </div>

          <br>
          <br>

          <div ng-show="(user.profile.needsReimbursement && classAmount !== 'None' && classAmount) || user.profile.needsVisa" class="divided title">Travel</div>
          <div class="field" ng-if="user.profile.needsReimbursement && classAmount !== 'None' && classAmount">
            <span ng-show="classAmount !=='None'">
            <p>
              As a reminder, the maximum travel grants are as follows:
            </p>
              <p >You will be granted <strong>{{classAmount}}€</strong> for travelling to Junction 2018!</p>
              <p ng-show="classAmount !== 'None' && classAmount">To receive this grant, please go the Travel Grants tab and fill in the necessary information. The grant will be granted after the event.</p>
            </span>
          </div>
          <p ng-show="user.profile.needsVisa">If you need a <b>Visa</b> to come to Finland and require assistance with your Visa invitation letter, we are more than happy help: Please, fill in this <a href="https://hackjunction.typeform.com/to/XokH8X" target="_blank">here!</a></p>

          <br>

          <div ng-if="user.team" class="divided title">Team Interests</div>

          <div class="field" ng-if="user.team">
            <label> What are the three tracks you are most interested in? * </label>
            <p style="margin-bottom: 10px;">
            Your <b>team leader</b> must fill in your top three tracks. You will be assigned to a track already before the event. We are trying our best to get you to your first option.
            </p>
          </div>
          <div ng-if="user.team" class="fields">
            <div class="ten wide field">
              <select
                class="ui fluid dropdown"
                name="firstPrioTrack"
                id="firstPrioTrack"
                ng-disabled="teamLeader != user.id"
                ng-model="user.confirmation.firstPriorityTrack"
              >
                <option value="">Select a track</option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Intelligent Infrastructure' && user.confirmation.thirdPriorityTrack != 'Intelligent Infrastructure'"
                  value="Intelligent Infrastructure"
                >
                  Intelligent Infrastructure
                </option>
                <option 
                  ng-show="user.confirmation.secondPriorityTrack != 'Future Cities' && user.confirmation.thirdPriorityTrack != 'Future Cities'"
                  value="Future Cities"
                >
                  Future Cities
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Digital Retail' && user.confirmation.thirdPriorityTrack != 'Digital Retail'"
                  value="Digital Retail"
                >
                  Digital Retail
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Smart Cloud' && user.confirmation.thirdPriorityTrack != 'Smart Cloud'"
                  value="Smart Cloud"
                >
                  Smart Cloud
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Mobility' && user.confirmation.thirdPriorityTrack != 'Mobility'"
                  value="Mobility"
                >
                  Mobility
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Data Economics' && user.confirmation.thirdPriorityTrack != 'Data Economics'"
                  value="Data Economics"
                >
                  Data Economics
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Game Jam' && user.confirmation.thirdPriorityTrack != 'Game Jam'"
                  value="Game Jam"
                >
                  Game Jam
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Internet of Things' && user.confirmation.thirdPriorityTrack != 'Internet of Things'"
                  value="Internet of Things"
                >
                  Internet of Things
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'HealthTech' && user.confirmation.thirdPriorityTrack != 'HealthTech'"
                  value="HealthTech"
                >
                  HealthTech
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'AI and Big Data' && user.confirmation.thirdPriorityTrack != 'AI and Big Data'"
                  value="AI and Big Data"
                >
                  AI and Big Data
                </option>
              </select>
            </div>
            <div class="six wide field">
              <h5 class="ui block teal header">
                First Priority
              </h5>
            </div>
          </div>
          <div ng-if="user.team" class="fields">
            <div class="ten wide field">
              <select
                class="ui fluid dropdown"
                name="secondPrioTrack"
                id="secondPrioTrack"
                ng-disabled="teamLeader != user.id"
                ng-model="user.confirmation.secondPriorityTrack"
              >
                <option value="">Select a track</option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'Intelligent Infrastructure' && user.confirmation.thirdPriorityTrack != 'Intelligent Infrastructure'"
                  value="Intelligent Infrastructure"
                >
                  Intelligent Infrastructure
                </option>
                <option 
                  ng-show="user.confirmation.firstPriorityTrack != 'Future Cities' && user.confirmation.thirdPriorityTrack != 'Future Cities'"
                  value="Future Cities"
                >
                  Future Cities
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'Digital Retail' && user.confirmation.thirdPriorityTrack != 'Digital Retail'"
                  value="Digital Retail"
                >
                  Digital Retail
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'Smart Cloud' && user.confirmation.thirdPriorityTrack != 'Smart Cloud'"
                  value="Smart Cloud"
                >
                  Smart Cloud
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'Mobility' && user.confirmation.thirdPriorityTrack != 'Mobility'"
                  value="Mobility"
                >
                  Mobility
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'Data Economics' && user.confirmation.thirdPriorityTrack != 'Data Economics'"
                  value="Data Economics"
                >
                  Data Economics
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'Game Jam' && user.confirmation.thirdPriorityTrack != 'Game Jam'"
                  value="Game Jam"
                >
                  Game Jam
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'Internet of Things' && user.confirmation.thirdPriorityTrack != 'Internet of Things'"
                  value="Internet of Things"
                >
                  Internet of Things
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'HealthTech' && user.confirmation.thirdPriorityTrack != 'HealthTech'"
                  value="HealthTech"
                >
                  HealthTech
                </option>
                <option
                  ng-show="user.confirmation.firstPriorityTrack != 'AI and Big Data' && user.confirmation.thirdPriorityTrack != 'AI and Big Data'"
                  value="AI and Big Data"
                >
                  AI and Big Data
                </option>
              </select>
            </div>
            <div class="six wide field">
              <h5 class="ui block teal header">
                Second Priority
              </h5>
            </div>
          </div>
          <div ng-if="user.team" class="fields">
            <div class="ten wide field">
              <select
                class="ui fluid dropdown"
                name="thirdPrioTrack"
                id="thirdPrioTrack"
                ng-disabled="teamLeader != user.id"
                ng-model="user.confirmation.thirdPriorityTrack"
              >
                <option value="">Select a track</option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Intelligent Infrastructure' && user.confirmation.firstPriorityTrack != 'Intelligent Infrastructure'"
                  value="Intelligent Infrastructure"
                >
                  Intelligent Infrastructure
                </option>
                <option 
                  ng-show="user.confirmation.secondPriorityTrack != 'Future Cities' && user.confirmation.firstPriorityTrack != 'Future Cities'"
                  value="Future Cities"
                >
                  Future Cities
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Digital Retail' && user.confirmation.firstPriorityTrack != 'Digital Retail'"
                  value="Digital Retail"
                >
                  Digital Retail
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Smart Cloud' && user.confirmation.firstPriorityTrack != 'Smart Cloud'"
                  value="Smart Cloud"
                >
                  Smart Cloud
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Mobility' && user.confirmation.firstPriorityTrack != 'Mobility'"
                  value="Mobility"
                >
                  Mobility
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Data Economics' && user.confirmation.firstPriorityTrack != 'Data Economics'"
                  value="Data Economics"
                >
                  Data Economics
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Game Jam' && user.confirmation.firstPriorityTrack != 'Game Jam'"
                  value="Game Jam"
                >
                  Game Jam
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'Internet of Things' && user.confirmation.firstPriorityTrack != 'Internet of Things'"
                  value="Internet of Things"
                >
                  Internet of Things
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'HealthTech' && user.confirmation.firstPriorityTrack != 'HealthTech'"
                  value="HealthTech"
                >
                  HealthTech
                </option>
                <option
                  ng-show="user.confirmation.secondPriorityTrack != 'AI and Big Data' && user.confirmation.firstPriorityTrack != 'AI and Big Data'"
                  value="AI and Big Data"
                >
                  AI and Big Data
                </option>
              </select>
            </div>
            <div class="six wide field">
              <h5 class="ui block teal header">
                Third Priority
              </h5>
            </div>

            <br>
            <br>
          </div>

          <div class="divided title" ng-if="user.status.terminalAccepted">Terminal Confirmation</div>

          <div class="field" ng-if="user.status.terminalAccepted">
            <label>Confirm your spot in Terminal!</label>
            <p>You were accepted to Terminal, congratulations! Now we'd like you to confirm that you're still interested.</p>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.terminalConfirmation" />
              <label>I confirm that I'll be attending Terminal</label>
            </div>
            <br>
            <br>
          </div>

          <div class="divided title">everything else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>
          <div class="ui small negative message"
              ng-show='error'>
              {{error}} <br>
            <ul>
              <div data-ng-repeat="i in fieldErrors">
                <li>{{ i }}</li>
              </div>
            </ul>
          </div>
          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui sea-serpent button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
